
<section class="card">
  <article class="sample-img">
    <div class="title">
    </div>
    <div class="detail">
      <p>{{description}}</p>
      <p>- {{user.username}}, {{format_date createdAt}}</p>
    </div>
  </article>
  
</section>