
<section class="mysong-section">
  <article class="sample-img">
    <div class="detail" style="width: 100%; height: 100%;">
        <div class="media-container">
            <iframe src="https://open.spotify.com/embed/track/{{songlink}}" width="90%" height="80px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
            <button class="delete adjust-button" data-id={{id}}>&#128465;</button>
        </div>
        <p class="message"></p>
    </div>
  </article>
</section>
