<section class="card">
  <a href="/playlist/{{id}}">
    <div class="title">
      <h2>{{title}} </h2>
      <img src="/assets/playlist/{{imagelink}}" width="100%" height="100%"/>
    </div>    
  </a>
</section>