
<article class="sample-img">
  <div class="title">
    <h2>Edit Post</h2>
  </div>
  <div class="detail">
    <form class="form myblog-form">
      <div class="form-group">
        <label for="password-login">Title:</label>
        <textarea class="form-control" rows="1" id="title">{{blog.title}}</textarea>
      </div>
      <div class="form-group">
        <label for="password-login">Content:</label>
        <textarea class="form-control" rows="5" id="description">{{blog.description}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="updatepost">Update Post</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="delete">Delete Post</button>
      </div>
    </form>            
  </div>
</article>

<script src="/js/myblog.js"></script>
