<!--audio autoplay>
    <source src="./assets/{{sound}}" type="audio/mpeg">
</audio-->

<div class="content-wrapper">

    <!-- aside section: for searching -->
    <aside class="search">
        <div class="form-group">
            <label for="search">Search for a song</label>
            <input type="text" class="form-control" id="search">
        </div>
        <p class="search-message"></p>
        <ul id="history" class="list-group col-12 p-0"></ul>        
    </aside>

    <!-- main section: for displaying My playlist -->
    <section class="mycard visible">
        <header>My Playlist</header>
        <div class="mysong-container">
            {{#each playlist.songs as |song|}}
            {{> mysong-details}}
            {{/each}}
        </div>
    </section>

    <!-- main section: for displaying Search Result -->
    <section class="myresult hidden">
        <header>Search Result</header>
        <div class="mysong-container">
            {{#each songs as |song|}}
            {{> song-details}}
            {{/each}}
        </div>
    </section>

</div>

<script src="/js/myPlaylist.js"></script>