<section class="card1">
  <header>{{playlist.title}}</header>
  <div class="mysong-container">
    {{#each playlist.songs as |song|}}
    {{> song-details}}
    {{/each}}
  </div>
</section>

<script src="/js/playlist.js"></script>