    <article class="sample-img">
        <div class="title">
        <h2>Sign Up</h2>
        </div>
        <form class="form signup-form">
        <div class="form-group">
            <label for="username-signup">Username:</label>
            <div class="input-container">
                <input class="form-input" type="text" id="username-signup" />
            </div>
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label>
            <div class="input-container">
                <input class="form-input" type="password" id="password-signup" />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
        </form>

        <p>Already have an account? <a href="/login">Login instead</a></p>
    </article>    

<script src="./js/signup.js"></script>