* {
  /*box-sizing: border-box;*/
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

nav {
  display: flex;
  background: #13293d;
}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}


section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 0;
  /*border: 5px solid black;*/
}

.sample-img p {
  /*padding-left: 20px; /* Add padding to the left side */
  /*margin-bottom:10px;  */
}

/* Make the textarea stretch to both sides */
.sample-img .form-group textarea {
  width: 100%;
}

/* Make the submit button stretch to both sides */
.sample-img .form-group button {
  width: 100%;
}

button {
  border: none;
}
/* that is the title bar, white font and dark blue background*/
/*title {
  display: flex;
  justify-content: space-between;
  align-items: center;    
  background-color: #13293d; 
  color: #fff; 
  padding: 10px;  
}*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #13293d; /* Background color for the header */
  color: #fff; /* Font color for the header */
  padding: 10px;  
}


.title h2 {
  margin: 0;
  font-size: 30px; 
}

.title p{
  padding-right: 10px;  

}

/* form stack column-wise*/
.sample-img form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-img label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sample-img input[type="text"],
.sample-img input[type="password"] {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
}

.sample-img input[type="submit"] {
  padding: 8px 16px;
  background-color: #13293d;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* effect on button hover */
.sample-img input[type="submit"]:hover {
  background-color: #1e3d5a;
}

.sample-img p {
  /*margin-top: 10px;*/
}

.sample-img a {
  color: #13293d;
  text-decoration: none;
}

.sample-img a:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

/* effect on hover on button*/
.new-post-button:hover {
  background-color: #1e3d5a;
}

/* default: no underline for <a> link*/
a {
  text-decoration: none;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.song-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.mysong-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card {
  flex: 0 0 30%; 
  margin: 10px; 
}


.card a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

/* on hover: add underline*/
.card a:hover {
  color: green; 
  text-decoration: underline; 
}

/* for username and password, make them display center */
.input-container {
  display: flex;
  justify-content: center;  
}

/* this part for my playlist */
.content-wrapper {
  display: flex;
}

/* search aside section*/
.search {
  width: 30%; 
  margin-right: 2%; 
}

/* this one for public playlist on songs*/
.card1{
  width:100%;
}

/* this one for myplaylist on songs as there is aside that use 30% .search*/
.mycard {
  width: 68%; 
}

/* to control display and hidden for myplaylist/search result*/
.visible {
  display: block;
}

/* to control display and hidden for myplaylist/search result*/
.hidden {
  display: none;
}


/* this part for mysong-details*/
.mysong-section {
  flex: 1;
  background-color: #fff;
  padding:0;
  
}
.media-container {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;  /* Vertically aligns items in the center */
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the elements horizontally. */
  justify-content: center; /* Center the elements vertically. */
  width: 100%; 
  height: 100%;
}

.detail iframe,
.detail .playlist-add {
  display: inline-block; /* Display these elements inline. */
}

.adjust-button {
  position: relative;
  top: -10px; /* Adjust this value as needed to move the button up */
}

/* 404 page */

.c404-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c404-wrapper h1 {
    font-size: 70px; /* adjust as needed */
    margin-bottom: 10px; /* adjust as needed */
}

.c404-wrapper h2 {
    font-size: 50px; /* adjust as needed */
    margin-bottom: 10px; /* adjust as needed */
}

.c404-wrapper a {
    font-size: 30px; /* adjust as needed */
}







@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  nav,
  main,
  .content-wrapper {
    flex-direction: column;
  }

  /* Change the styling of the nav links to be full width */
  nav a {
    display: block;
    width: 100%;
  }

  /* Adjust the playlist and search sections to be full width */
  .mycard, .search {
    width: 100%;
  }

  /* Adjust the detail and media-container classes within the playlist section */
  .detail, .media-container {
    width: 100%;
  }

  /* Set iframe width to 100% */
  iframe {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 45%;
    }
  }  
}



