/* main colours */
:root {
  --purple: #b62075;
  --darkgrey: #393838;
  --lightgrey: #ffffff5d;
  --white: #fff;
  --black: #000000;
}


body {
  font-family: "montserrat", sans-serif;
  margin: 0;
  background-image: linear-gradient(60deg, rgba(208, 5, 130, 0.215), white, rgba(241, 98, 16, 0.174));
}

.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

header {
  padding: 20px;
  text-align: center;
  background: var(--white);
  color: var(--darkgrey);
}

nav {
  display: flex;
  background: var(--white);
}

nav a {
  color: var(--darkgrey);
  padding: 12px 20px;
  text-decoration: none;
  text-align: center;
}

.nav-p {
  color: var(--darkgrey);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

a:hover {
  color: var(--purple);
  text-decoration: none;
}

.btn-nav {
  color: var(--darkgrey);
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -10px;
  background-color: var(--white);
}

.btn-nav:hover {
  color: var(--purple);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  flex: 3;
  background-color: var(--lightgrey);
  padding: 20px;
}

.sample-img {
  background-color: var(--white);
  width: 50%;
  padding: 0;
  align-items: center;
  margin: auto;
  border-radius: 25px;
}

.play-sample-img {
  background-color: var(--white);
  width: 100%;
  padding: 0;
  align-items: center;
  margin: auto;
  border-radius: 25px;
}

/* Make the textarea stretch to both sides */
.sample-img .form-group textarea {
  width: 100%;
  background-color: var(--white);
}

/* Make the submit button stretch to both sides */
.sample-img .form-group button {
  width: 20%;
}

button {
  border: none;
}

/* login/signup header format */
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  /* Font color for the login/signup */
  padding: 20px;
  background-color: var(--purple);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--darkgrey);
}

.title h2 {
  margin: 10px;
  font-size: 25px;
}

.title p {
  padding-right: 10px;

}

img {
  border-style: none;
  border-radius: 25px;
}

/* SIGN UP FORM FORMATTING- stack column wise*/
.sample-img form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-img label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sample-img input[type="text"],
.sample-img input[type="password"] {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
}

.sample-img input[type="submit"] {
  padding: 8px 16px;
  background-color: var(--darkgrey);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #BB8588;
}

.btn.btn-primary {
  border: none;
  background-color: var(--darkgrey);
  border-radius: 25px;
  border-bottom: 1px solid var(--darkgrey);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.btn.btn-primary:hover {
  background-color: var(--purple);
}

.btn:hover {
  box-shadow: 2px 2px 2px var(--purple);
}



/* HOMEPAGE/PLAYLIST CONTAINER FORMATTING */

/* default: no underline for <a> link*/
a {
  text-decoration: none;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.song-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mysong-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  flex: 0 0 30%;
  margin: 10px;
  border-radius: 25px;
  border-style: none;
  background-color: #ffffff00;

}

.card a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}


/* effect on button hover */
.sample-img input[type="submit"]:hover {
  background-color: var(--purple);
}


.sample-img a {
  color: var(--darkgrey);
  text-decoration: none;
}

.sample-img a:hover {
  text-decoration: none;
  color: var(--purple);
}

.full-width {
  width: 100%;
}

/* effect on hover on button*/
.new-post-button:hover {
  background-color: var(--darkgrey);
}

h2:hover {
  color: var(--purple);
}

/* on hover: add underline */
.card a:hover {
  color: var(--purple);
  text-decoration: none;
}

/* for username and password, make them display center */
.input-container {
  display: flex;
  justify-content: center;
}

/* this part for my playlist */
.content-wrapper {
  display: flex;
}

/* search aside section*/
.search {
  width: 30%;
  margin-right: 2%;
}

/* this one for public playlist on songs*/
.card1 {
  width: 100%;
}

/* this one for myplaylist on songs as there is aside that use 30% .search*/
.mycard {
  width: 68%;
}

/* to control display and hidden for myplaylist/search result*/
.visible {
  display: block;
}

/* to control display and hidden for myplaylist/search result*/
.hidden {
  display: none;
}

/* this part for mysong-details*/
.mysong-section {
  flex: 1;
  background-color: var(--white);
  padding: 0;

}

.media-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* Vertically aligns items in the center */
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the elements horizontally. */
  justify-content: center;
  /* Center the elements vertically. */
  width: 100%;
  height: 100%;
}

.detail iframe,
.detail .playlist-add {
  display: inline-block;
  /* Display these elements inline. */
}

.adjust-button {
  position: relative;
  top: -10px;
  /* Adjust this value as needed to move the button up */
}

/* 404 page */

.c404-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c404-wrapper h1 {
  font-size: 70px;
  /* adjust as needed */
  margin-bottom: 10px;
  /* adjust as needed */
}

.c404-wrapper h2 {
  font-size: 50px;
  /* adjust as needed */
  margin-bottom: 10px;
  /* adjust as needed */
}

.c404-wrapper a {
  font-size: 30px;
  /* adjust as needed */
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {

  /* Use flex-direction to stack the navbar, sidebar, and body */
  nav,
  main,
  .content-wrapper {
    flex-direction: column;
  }

  /* Change the styling of the nav links to be full width */
  nav a {
    display: block;
    width: 100%;
  }

  n

  /* Adjust the playlist and search sections to be full width */
  .mycard,
  .search {
    width: 100%;
  }

  /* Adjust the detail and media-container classes within the playlist section */
  .detail,
  .media-container {
    width: 100%;
  }

  /* Set iframe width to 100% */
  iframe {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 45%;
    }
  }

  @media screen and (max-width: 500px) {
    .card {
      flex: 0 0 100%;
    }
  }
}